<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">JIPANGE SALES TRACKER - Smart Sales!!
        </a>
    </nav>
    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</body>
</html>
